{% extends "base.html" %}
{% block title %}{{ affil.display_name }} ({{ affil._id }}){% endblock %}
{% block content %}
<h1>{{ affil.display_name }}</h1>

<!--<a href="#parent-institutions">Parent Institutions</a> | <a href="#child-institutions">Child Institutions</a> |-->
<!-- <a href="#affiliated-works">Affiliated Works</a> |  <a href="#collaborating-authors">Linked Collaborating Authors</a>-->

<figure>
<pre class="mermaid">
    flowchart
    I[{{ affil.display_name }}]
    PI["Parent Institutions ({{ affil_parents | length }})"]
    CI["Child Institutions ({{ affil_children | length }})"]
    AW["Affiliated Works ({{ affil_works | length }})"]
    CA["Linked Collaborating Authors ({{ affil_collaborating_authors | length }})"]
    I== skos:broader ==>PI
    CI== skos:broader ==>I
    AW== affil ==>I
    AW== author ==>CA
    click PI "#parent-institutions"
    click CI "#child-institutions"
    click AW "#affiliated-works"
    click CA "#collaborating-authors"

</pre>
<figcaption>Graph neighborhood for '{{ affil.display_name }}'. Click aggregate nodes to navigate.</figcaption>
</figure>

<dl>
  <dt>ADS ID <a href="/docs#institution_metadata">[?]</a></dt>
  <dd>{{ affil_ads_id }}</dd>
  <dt>Abbreviation <a href="/docs#institution_metadata">[?]</a></dt>
  <dd>{{affil.ads_affil.abbrev}}</dd>
</dl>

<h2 id="parent-institutions">Parent Institutions <a href="/docs#institution_metadata">[?]</a></h2>
<ul>
  {% for affil in affil_parents %}
  <li><a href="/affil:{{affil._id}}">{{affil.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="child-institutions">Child Institutions <a href="/docs#institution_metadata">[?]</a></h2>
<ul>
  {% for affil in affil_children %}
  <li><a href="/affil:{{affil._id}}">{{affil.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 class="has-subheader" id="affiliated-works">Affiliated Works</h2>
<p>sorted by decreasing year, and then by display-name</p>
<ul>
  {% for work in affil_works %}
  <li><a href="/work:{{work._id}}">{{work.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="collaborating-authors">Linked Collaborating Authors <a href="/docs#institution_collaborating_authors">[?]</a></h2>
<ul>
  {% for author in affil_collaborating_authors %}
  <li><a href="/author:{{author._id}}">{{author.display_name}}</a></li>
  {% endfor %}
</ul>

{% endblock %}