{% extends "base.html" %}
{% block title %}{{ author.display_name }} ({{ author._id }}){% endblock %}
{% block content %}
<h1>{{ author.display_name }}</h1>

<!--<a href="#associated-concepts">Associated Concepts</a> | <a href="#authored-works">Authored Works</a> |-->
<!-- <a href="#co-authors">Linked Co-Authors</a> |  <a href="#collaborating-institutions">Linked Collaborating Institutions</a>-->

<figure>
<pre class="mermaid">
    flowchart
    A[{{ author.display_name }}]
    AC["Associated Concepts ({{ author_concepts | length }})"]
    AW["Authored Works ({{ author_works | length }})"]
    CA["Linked Co-Authors ({{ author_coauthors | length }})"]
    CI["Linked Collaborating Institutions ({{ author_collaborating_institutions | length }})"]
    A== dcterms:relation ==>AC
    AW== author ==>A
    AW== author ==>CA
    AW== affil ==>CI
    click AC "#associated-concepts"
    click AW "#authored-works"
    click CA "#co-authors"
    click CI "#collaborating-institutions"

</pre>
<figcaption>Graph neighborhood for '{{ author.display_name }}'. Click aggregate nodes to navigate.</figcaption>
</figure>

<dl>
  <dt>ORCiD</dt>
  <dd><a href="{{author._id}}">{{author._id}}</a></dd>
  <dt>OpenAlex ID</dt>
  <dd>{{author.oax_author.id}} (<a href="{{author_oax_api_link}}">API record</a>)</dd>
</dl>

<h2>Associated Concepts</h2>
<ul>
  {% for concept in author_concepts %}
  <li><a href="/concept:{{concept._id}}">{{concept.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 class="has-subheader" id="authored-works">Authored Works</h2>
<p>sorted by decreasing year, and then by display-name</p>
<ul>
  {% for work in author_works %}
  <li><a href="/work:{{work._id}}">{{work.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="co-authors">Linked Co-Authors</h2>
<ul>
  {% for author in author_coauthors %}
  <li><a href="/author:{{author._id}}">{{author.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="collaborating-institutions">Linked Collaborating Institutions</h2>
<ul>
  {% for affil in author_collaborating_institutions %}
  <li><a href="/affil:{{affil._id}}">{{affil.display_name}}</a></li>
  {% endfor %}
</ul>


{% endblock %}