<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="HelioWeb: A Platform for the Future of Heliophysics.">

	<!-- Mobile Screen Resizing -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Icon -->
	<!-- https://github.com/audreyr/favicon-cheat-sheet -->
	<link rel="shortcut icon" href="{{ https_url_for(request, 'static', path='favicon.ico') }}">

	<!-- Stylesheet & Init Class -->
	<script src="{{ https_url_for(request, 'static', path='/nasawds/js/uswds-init.min.js') }}"></script>
	<link rel="stylesheet" href="{{ https_url_for(request, 'static', path='/nasawds/css/styles.css') }}" />
	<link rel="stylesheet" href="{{ https_url_for(request, 'static', path='/css/app.css') }}" />
</head>
<body>

	{% block header %}
	<div class="usa-overlay"></div>
	<header class="usa-header usa-header--basic">
		<div class="usa-nav-container">
			<div class="usa-navbar">
				<div class="usa-logo">
					<em class="usa-logo__text"><a href="/"><img alt="" height="24px" width="29px" src="{{ https_url_for(request, 'static', path='/img/logo.png') }}"> HelioWeb</a></em>
				</div>
				<button type="button" class="usa-menu-btn">Menu</button>
			</div>
			<nav aria-label="Primary navigation" class="usa-nav">
				<button type="button" class="usa-nav__close">
					<img src="{{ https_url_for(request, 'static', path='/nasawds/img/usa-icons/close.svg') }}" role="img" alt="Close">
				</button>
				<ul class="usa-nav__primary usa-accordion">
					<li class="usa-nav__primary-item">
						<a href="/" class="usa-nav-link">Home</a>
					</li>
					<li class="usa-nav__primary-item">
						<a href="/search" class="usa-nav-link">Search</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	{% endblock %}

	<main>
		<div class="grid-container">
			{% block content %}{% endblock %}
		</div>
	</main>

	<footer class="usa-footer usa-footer--slim padding-top-3">
		<div class="grid-container usa-footer__return-to-top">
			<a href="#">Return to top</a>
		</div>
		<div class="usa-footer__primary-section">
			<div class="usa-footer__primary-container grid-row">
				<div class="mobile-lg:grid-col-8">
					<nav class="usa-footer__nav" aria-label="Footer navigation,">
						<ul class="grid-row grid-gap">
							<li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
								<a class="usa-footer__primary-link" href="/">Home</a>
							</li>
							<li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
								<a class="usa-footer__primary-link" href="/search">Search</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="mobile-lg:grid-col-4">
					<div class="usa-footer__address text-right">
						<div class="usa-footer__contact-info">
							This tool has made use of NASA’s <a href="https://ui.adsabs.harvard.edu/">Astrophysics Data System (ADS)</a> Bibliographic Services and the <a href="https://openalex.org/">OpenAlex</a> dataset.
							<a href="https://github.com/polyneme/helioweb">Open Source</a> under the <a href="https://spdx.org/licenses/Apache-2.0.html">Apache-2.0</a> license.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="usa-footer__secondary-section">
			<div class="grid-container">
				<div class="usa-footer__logo grid-row grid-gap-2">
					<div class="grid-col-auto">
						<img alt="" height="92px" width="112px" src="{{ https_url_for(request, 'static', path='/img/logo-large.png') }}">
					</div>
					<div class="grid-col-auto">
						<p class="usa-footer__logo-heading">HelioWeb</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- JavaScript -->
	<!-- <script type="module" src="{{ https_url_for(request, 'static', path='/js/app.js') }}"></script> -->
	<script src="{{ https_url_for(request, 'static', path='/nasawds/js/uswds.min.js') }}"></script>
	<script src="{{ https_url_for(request, 'static', path='/js/htmx.min.js') }}"></script>
	<script type="module">
		import mermaid from '{{ https_url_for(request, "static", path="/js/mermaid/mermaid.esm.min.mjs") }}';
		mermaid.initialize({ startOnLoad: true, securityLevel: 'loose' });
	  </script>
</body>
</html>