{% extends "base.html" %}
{% block title %}{{ concept.display_name }} ({{ concept._id }}){% endblock %}
{% block content %}
<h1>{{ concept.display_name }}</h1>

<!--<a href="#broader-concepts">Broader Concepts</a> | <a href="#narrower-concepts">Narrower Concepts</a> |-->
<!--<a href="#associated-authors">Associated Authors</a>-->

<figure>
<pre class="mermaid">
    flowchart
    NI["add incoming edge"]
    NO["add outgoing edge"]
    AA["Associated Authors ({{ concept_authors | length }})"]
    C[{{ concept.display_name }}]
    BC["Broader Concepts ({{ concept_parents | length }})"]
    NC["Narrower Concepts ({{ concept_children | length }})"]
    C== skos:broader ==>BC
    NC== skos:broader ==>C
    AA== dcterms:relation ==>C
    NI-- ? -->C
    C-- ? -->NO
    click BC "#broader-concepts"
    click NC "#narrower-concepts"
    click AA "#associated-authors"
    click NI "#add-incoming-edge"
    click NO "#add-outgoing-edge"
    style NI stroke-width:2px,stroke-dasharray: 5 5
    style NO stroke-width:2px,stroke-dasharray: 5 5
</pre>
<figcaption>Graph neighborhood for '{{ concept.display_name }}'. Click aggregate nodes to navigate.</figcaption>
</figure>


<dl>
  <dt>Wikidata</dt>
  <dd><a href="{{concept.concept.wikidata}}">{{concept.concept.wikidata}}</a></dd>
  <dt>OpenAlex ID</dt>
  <dd>{{concept._id}} (<a href="{{concept_oax_api_link}}">API record</a>)</dd>
  <dt>OpenAlex Description</dt>
  <dd>{{concept.description}}</dd>
  <dt>OpenAlex Level <a href="/docs#openalex_levels">[?]</a></dt>
  <dd>{{concept.concept.level}}</dd>
</dl>

<h2 id="broader-concepts">Broader Concepts</h2>
<ul>
  {% for concept in concept_parents %}
  <li><a href="/concept:{{concept._id}}">{{concept.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="narrower-concepts"2>Narrower Concepts</h2>
<ul>
  {% for concept in concept_children %}
  <li><a href="/concept:{{concept._id}}">{{concept.display_name}}</a></li>
  {% endfor %}
</ul>

<h2 id="associated-authors">Associated Authors</h2>
<ul>
  {% for author in concept_authors %}
  <li>
      <a href="/author:{{author._id}}">{{author.display_name}}</a>
      {% if author._submitter %}(submitted by <a href="{{author._submitter}}">{{author._submitter}}</a>){% endif %}
  </li>
  {% endfor %}
</ul>

<h2 id="add-incoming-edge">Add Incoming Edge</h2>

{% if user %}
<form class="usa-form usa-form--large" method="post">
  <fieldset class="usa-fieldset" disabled>
    <label class="usa-label" for="narrower_concept">Narrower Concept</label>
    <div class="usa-combo-box">
      <select class="usa-select" name="narrower_concept" id="narrower_concept">
        <option value>Select a concept</option>
        {% for c in all_author_concepts %}
        <option value="{{c._id}} skos:broader {{concept._id}}">{{c.display_name}}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <input class="usa-button" type="submit" value="Add Narrower Concept" disabled/>
</form>

<form class="usa-form usa-form--large" method="post">
  <fieldset class="usa-fieldset">
    <label class="usa-label" for="associated_author">Associated Author <span class="label-note">(can't pick authors already associated with concept)</span></label>
    <div class="usa-combo-box">
      <select class="usa-select" name="associated_author" id="associated_author">
        <option value>Select an author</option>
        {% for a in all_eligible_authors %}
        <option value="{{a._id}} dcterms:relation {{concept._id}}">
            {{a.display_name}} ({{a._id.replace("https://orcid.org/","orcid:")}})
        </option>
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <input class="usa-button" type="submit" value="Associate Author" />
</form>
{% else %}
<p>
    <a href="{{GLOBALS_orcid_authorize_url}}&state={{request.url.path}}">Login via ORCiD</a> to contribute.
</p>
{% endif %}

<h2 id="add-outgoing-edge">Add Outgoing Edge</h2>

{% if user %}
<form class="usa-form usa-form--large" method="post">
  <fieldset class="usa-fieldset" disabled>
    <label class="usa-label" for="broader_concept">Broader Concept</label>
    <div class="usa-combo-box">
      <select class="usa-select" name="broader_concept" id="broader_concept">
        <option value>Select a concept</option>
        {% for c in all_author_concepts %}
        <option value="{{c._id}} skos:broader {{concept._id}}">{{c.display_name}}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>
  <input class="usa-button" type="submit" value="Add Broader Concept" disabled/>
</form>
{% else %}
<p>
    <a href="{{GLOBALS_orcid_authorize_url}}&state={{request.url.path}}">Login via ORCiD</a> to contribute.
</p>
{% endif %}

{% endblock %}