{% extends "base.html" %}
{% block title %}HelioWeb Documentation{% endblock %}
{% block content %}
<h1>HelioWeb Documentation</h1>

<h2 id="linked_authors">Work-to-Author Links</h2>

<p>Work-to-author links have been created only for authors with ORCiDs recorded by ADS.
They are sorted by author display-name and are qualified by whether the ORCiD was reported to ADS
by a publisher (<code>pub</code>), a user (<code>user</code>), or some other way (<code>other</code>).</p>

<h2 id="openalex_levels">OpenAlex Levels</h2>

<p>
    OpenAlex concept "levels" are such that broader concepts have smaller level values.
    You can think of the level as how deep in the concept hierarchy this concept resides.
    The "root" level is 0, and the narrowest level is 5.
</p>

<h2 id="institution_metadata">Institution Metadata</h2>
<p>All institution metadata (canonical/display name, abbreviation, parent/child relationships) were obtained <a href="https://github.com/adsabs/CanonicalAffiliations/blob/master/parent_child.tsv">from the adsabs/CanonicalAffiliations GitHub repository.</a></p>

<h2 id="institution_collaborating_authors">An Institution's Linked Collaborating Authors</h2>
<p>
    These authors, sorted by display-name, have authored a work with someone (perhaps themselves) from this institution.
</p>

<h2 id="author_concepts">Concepts Associated with an Author</h2>
<p>Author-concept associations are sourced from OpenAlex,
    which associates concepts with every Work in its corpus.
    These work-concept associations are then used in turn to associate a set of concepts with an Author,
    via that author's Works.
</p>

<h2 id="funnel_authors_by_concepts">Author Funneling by Concepts</h2>
<p>
    Funnel authors by an intersection of concept associations.
    The funneling will use a transitive closure for each selected concept -- specifically,
    its (narrower) descendants will be included. For example,
    <a href="/funnel_authors?concept=https%3A%2F%2Fopenalex.org%2FC119857082&concept=&concept=&institution=&institution=&institution=&coauthor=&coauthor=&coauthor=">funneling</a> by <a href="/concept:https://openalex.org/C119857082">Machine Learning</a>
    will also find authors who are explicitly associated only with narrower concepts
    such as <a href="/concept:https://openalex.org/C50644808">Artificial neural network</a>.
</p>

{% endblock %}