{% extends "base.html" %}
{% block title %}HelioWeb - A Platform for the Future of Heliophysics{% endblock %}
{% block content %}
<h1>HelioWeb</h1>
<p>A Platform for the Future of Heliophysics.</p>

{% if user %}
<p>You are logged in as {{user.name}} (ORCiD: {{user.orcid}}). <a href="/logout">Logout</a>.</p>
{% endif %}

<p>Welcome to HelioWeb – Your Gateway to Heliophysics Discovery!
    Uniting researchers, fostering collaborations, and advancing knowledge, HelioWeb is your single portal for cataloging, connecting, and exploring the vibrant world of heliophysics.
    Join us in accelerating scientific breakthroughs, building resilient capacities, and shaping the future of solar and space exploration.
</p>
<p>
    This page is a first prototype of what HelioWeb will become, serving the purpose of helping Heliophysicists at the American Geophysical Union Fall Meeting 2023 to more meaningfully connect with one another and to broaden the set of researchers and topics they discover (that is, to facilitate improbable connections).
</p>
<p>
    Please note that <em>only AGU Fall Meeting abstracts through 2022</em> (so none for 2023) have been loaded here.
</p>

<p>Perhaps you can start with <a href="/concept:https://openalex.org/C151325931">the concept "Space Weather"</a>.</p>

<p><a href="https://github.com/polyneme/helioweb/blob/main/README.md">Learn more about the HelioWeb vision.{% include 'icon_launch.html' %}</a></p>

<section aria-label="Big search component">
  <form class="usa-search usa-search--big" role="search" action="/search" method="get">
    <label class="usa-sr-only" for="search-field-en-big">Search</label>
    <input
      class="usa-input"
      id="search-field-en-big"
      type="search"
      name="q"
    />
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search </span
      ><img
         src="{{ https_url_for(request, 'static', path='/nasawds/img/usa-icons-bg/search--white.svg') }}"
        class="usa-search__submit-icon"
        alt="Search"
      />
    </button>
  </form>
    <span class="help-note">Use double-quotes (<code>"</code>) to enclose phrases. Prepend a term with minus (<code>-</code>) to negate it.</span>
</section>

<p>Alternative to free-text search: <a href="/funnel_authors">funnel authors by entity associations.</a></p>

{% endblock %}