main {
	min-height: 65vh;
}

/*dl,
dd {
	margin: 0;
	padding: 0;
}*/

dd {
	/*margin-bottom: 1.5rem;*/
}

dt {
	font-weight: bold;
}

[role="status"] {
	font-style: italic;
	padding-top: 1rem;
}

h1.has-subheader {
	margin-bottom: 0;
}
h1.has-subheader + p {
	margin-top: 0;
	font-size: x-large;
}

h2.has-subheader {
	margin-bottom: 0;
}
h2.has-subheader + p {
	margin-top: 0;
}

.mermaid {
	margin-bottom: 0;
}
.mermaid + figcaption {
	font-size: small;
}

h1 > ul > li {
	font-size: medium;
}

fieldset.usa-fieldset.visually-grouped-fieldset {
	padding: 0.5em 0.5em;
	border: 1px solid #ccc;
}

fieldset.usa-fieldset.visually-grouped-fieldset:not(:first-of-type) {
	margin-top: 2em;
}

span.label-note {
	font-size: small;
}